@import "vars";
@import "vendor/reset";

html {
    font-size: 62.5%;
}

body {
    font-family: "Cormorant";
    font-size: 2.2rem;
    color: $brown;
}


/* blocks */

@import "blocks/page";
@import "blocks/header";
@import "blocks/main";
@import "blocks/slider";
@import "blocks/works";
@import "blocks/catigories";
@import "blocks/goods";
@import "blocks/default_text";
@import "blocks/footer";
@import "blocks/arrow";
@import "blocks/main_nav";
@import "blocks/catalog/sidebar";
@import "blocks/catalog/catalog";
@import "blocks/catalog/catalog_goods";
@import "blocks/about/about";
@import "blocks/about/about_works";
@import "blocks/about/about_team";
@import "blocks/delivery/delivery";
@import "blocks/contacts/contacts";
@import "blocks/stock/stock";
@import "blocks/vagination";
@import "blocks/basket/basket";