.catalog{
	padding-top: 3.3rem;
	overflow: hidden;
	min-width: 0;
}

.catalog_text{
	font-family: $m;
	padding-top: 8rem;
}

.catalog_text_heading{
	color: $brown;
	font-size: 4.8rem;
	line-height: 5rem;
}

.catalog_text_span{
	padding-top: 3.1rem;
	color: $black;
	font-size: 1.6rem;
	line-height: 2rem;
}