.goods{
	font-family: $m;
	text-align: center;
	padding-top: 8rem;
}

.goods_heading{
	font-family: $c;
	font-size: 4.8rem;
	line-height: 5rem;
	color: $brown;
}

.goods_nav{
	display: flex;
	justify-content: space-between;
	width: 79.3rem;
	padding-top: 4rem;
	padding-left: 21.2rem;
}

.goods_nav_item a{
	font-size: 1.8rem;
	color: $black;
	text-decoration: none;
	transition: color .3s;
}

.goods_nav_item:hover a{
	color: $rose;
}

.goods_nav_item.active:after{
	content: "";
	display: block;
	width: 100%;
	margin-top: .4rem;
	left: 0;
	height: .2rem;
	background-color: $rose;
	
}

.goods_nav_item:hover.catalog_nav_item:after{
	content: "";
	display: block;
	width: 100%;
	margin-top: .4rem;
	left: 0;
	height: .2rem;
	background-color: $rose;
}

.goods_cards_col{
	display: flex;
	padding-top: 4.8rem;
}

.goods_cards_item{
	font-family: $m;
	text-align: center;
	padding-right: 2rem;
	box-shadow: 0rem 4.8rem 7rem -8rem #333;
	overflow: hidden;
}

.goods_cards_item:last-child{
	padding-right: 0;
}

.goods_card_img{
	width: 100%;
}

.goods_cards_item_heading{
	font-size: 2.4rem;
	line-height: 2.5rem;
	color: $lbrown;
	padding-top: 2.6rem;
}

.goods_cards_item_price{
	display: flex;
	padding-left: 2.4rem;
}

.goods_price{
	font-size: 2.4rem;
	line-height: 2.5rem;
	color: $brown;
	padding-top: 2.8rem;
}

.goods_old_price{
	font-size: 1.8rem;
	line-height: 1.8rem;
	color: $black;
	padding-top: .5rem;
	padding-left: 1.7rem;
	padding-top: 3.3rem;
	text-decoration: line-through;
}

.goods_favourite{
	color: $rose;
	padding-left: 14.7rem;
	padding-top: 1.5rem;
	cursor: pointer;
}

.goods_favourite_thick{
	display: none;
	color: $rose;
	padding-left: 14.7rem;
	padding-top: 1.5rem;
	cursor: pointer;
}

.hidden{
	display: none;
}

.view{
	display: block;
}

.goods_cards_item_btn{
	padding-top: 4rem;
	margin-bottom: 4.3rem;
}

.goods_cards_item_btn a{
	text-decoration: none;
	font-size: 1.8rem;
	color: #fff;
	border: .1rem solid $rose;
	border-radius: 5rem;
	padding: 1.6rem 7rem;
	background-color: $rose;
	transition: color .3s linear;
	transition: background-color .3s linear;
	box-shadow: 0 2.7rem 2rem -2rem #c2827e;
}

.goods_cards_item_btn a:hover{
	color: $rose;
	background-color: #fff;
}

.goods_btn{
	padding-top: 6.6rem;
	padding-bottom: 1.6rem;
}

.goods_btn a{
	text-decoration: none;
	font-size: 1.8rem;
	color: $rose;
	border: .1rem solid $rose;
	border-radius: 5rem;
	padding: 1.6rem 8rem;
	transition: color .3s linear;
	transition: background-color .6s linear;
}

.goods_btn a:hover{
	color: #fff;
	background-color: $rose;
}

.goods_sale{
	position: absolute;
	font-size: 1.6rem;
	line-height: 1.6rem;
	color: $lbrown;
	border: .1rem solid #fff;
	background-color: #fff;
	padding: 1.1rem .5rem;
	margin-top: -48.5rem;
	margin-left: 1.7rem;
	border-radius: 1rem;
}

.goods_hit{
	position: absolute;
	font-size: 1.6rem;
	line-height: 1.6rem;
	color: $rose;
	border: .1rem solid #fff;
	background-color: #fff;
	padding: 1.1rem .8rem;
	margin-top: -43rem;
	margin-left: 1.7rem;
	border-radius: 1rem;
}