.slider{
	width: 100%;
	text-align: center;
	overflow: hidden;
	min-width: 0;
    box-shadow: 0rem 4.8rem 6.4rem -5.5rem #333;
}

.slick-track{
    display: flex;
}

.slider_item{

}

.slider_bg{
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.slider_text{
	position: absolute;
	padding-left: 9.1rem;
	max-width: 100%;
	text-align: center;
	top: 14.6rem;
}

.slider_heading{
	font-family: $c;
	font-size: 4.8rem;
	line-height: 5rem;
}

.slider_span{
	font-family: $m;
	font-size: 2.2rem;
	color: $lbrown;
	padding-top: 2.5rem;
}

.slider_btn{
	font-family: $m;
	padding-top: 4rem;
}

.slider_btn a{
	text-decoration: none;
	font-size: 1.8rem;
	color: #fff;
	border: .1rem solid $rose;
	border-radius: 5rem;
	padding: 1.5rem 6rem;
	background-color: $rose;
	transition: color .3s linear;
	transition: background-color .3s linear;
}

.slider_btn a:hover{
	color: $rose;
	background-color: transparent;
}

.slider_roll{

	position: absolute;
	top: 57rem;
	padding-left: 30.8rem;

	ul{
		display: flex;
	}
	li button{
    	display: inline-block;
    	font-size: 0;
		border-radius: 100%;
		border: .1rem solid $grey;
		background: $grey;
		cursor: pointer;
		margin-right: 1.1rem;
		padding: .5rem;
	}
}

.slider_roll li button{
    	display: inline-block;
    	font-size: 0;
		border-radius: 100%;
		border: .1rem solid $grey;
		background: $grey;
		cursor: pointer;
		margin-right: 1.1rem;
		padding: .5rem;
}

li.slick-active button{
    border: .1rem solid $rose;
    background: $rose;
}