<footer>
	
	<div class="container">
		
		<div class="footer_inner">
			
			<div class="footer_logo"><img src="assets/images/header/header_logo.png"></div>

			<div class="footer_nav">
				
				<div class="footer_nav_item"><a href="#">Каталог</a></div>
				<div class="footer_nav_item"><a href="#">Акции</a></div>
				<div class="footer_nav_item"><a href="#">О нас</a></div>
				<div class="footer_nav_item"><a href="#">Доставка и оплата</a></div>
				<div class="footer_nav_item"><a href="#">Контакты</a></div>

			</div>

			<div class="footer_social">
				
				<a href="#"><img src="assets/images/footer/instagram.svg"></a>
				<a href="#"><img src="assets/images/footer/facebook.svg"></a>

			</div>

		</div>

	</div>

</footer>
