<div class="container">

	<header class="header">

		<div class="header_logo">

			<a href="#"><img src="assets/images/header/header_logo.png"></a>

		</div>

		<div class="header_nav">
			
			<span class="burger"></span>

			<div class="header_nav_item"><a href="catalog.html">Каталог</a></div>
			<div class="header_nav_item"><a href="stock.html">Акции</a></div>
			<div class="header_nav_item"><a href="about.html">О нас</a></div>
			<div class="header_nav_item"><a href="delivery.html">Доставка и оплата</a></div>
			<div class="header_nav_item"><a href="contacts.html">Контакты</a></div>

		</div>
		<div class="header_phone"><a href="#">+8 800 800 8000</a></div>

		<a href="basket.html"><img class="basket_img" src="assets/images/header/basket.svg"></a>

		<a href="profile.html"><img class="profile_img" src="assets/images/header/profile.svg"></a>
		
	</header>

</div>
